$body-font: "Zen Maru Gothic", sans-serif;
$heading-font: "Exo", sans-serif;

// colors
$primary: #fff;
$secondary: #000;

$dark-shade: #000000f2;
$light-shade: #fffffff2;

// cursor colors
$curColrOne: #ffa226;
$curColrTwo: #33ff46;
$curColrThree: #ff17f1;
