$body-font: "Zen Maru Gothic", sans-serif;
$header-font: "Exo", sans-serif;

// colors
$primary: #fff;
$secondary: #000;

// dk theme
$dark-primary: #000;
$dark-secondary: #fff;

// cursor colors
$curColrOne: #ffa226;
$curColrTwo: #33ff46;
$curColrThree: #ff17f1;
