@import "../node_modules/scss-reset/src/scss/_reset.scss";
@import "./mixins/variables";
@import "./mixins/breakpoints";
@import "./mixins/typed.scss";

html {
  font-size: 0.625em;
  scrollbar-width: none;
  overflow-y: scroll;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body:hover,
a:hover,
label:hover {
  cursor: url(../resources/images/Logo.png), auto;
}
// visual theme settings
body {
  overflow: hidden;
  font-family: $body-font;
  background-color: $primary;
  color: $secondary;
  transition: background-color 1s ease, color 1s ease;
  header {
    background-color: $primary !important;
  }
  .shade {
    background-color: $light-shade;
  }
  .button {
    background-color: $secondary;
    color: $primary;
    transition: color 0.5s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .social-icon {
    border-radius: 1em;
    transition: 0.5s ease;
    &:hover {
      fill: $primary;
      background-color: $secondary;
      scale: 1.125;
    }
  }
  // portfolio filters
  .filter {
    background-color: $secondary;
    color: $primary;
    width: fit-content;
  }
  .filter {
    &:focus {
      font-weight: 700;
      outline: 2px lime solid;
      outline-offset: 2px;
    }
  }
  .details {
    color: $secondary;
  }
}
// dark mode
body.dark {
  color: $primary;
  background-color: $secondary;
  header {
    background-color: $secondary !important;
  }
  .shade {
    background-color: $dark-shade;
  }
  .drawer {
    background-color: $secondary;
  }
  .button {
    background-color: $primary;
    color: $secondary;
  }
  .social-icon {
    &:hover {
      background-color: $primary;
      fill: $secondary;
      scale: 1.125;
    }
  }
  //portfolio filters
  .filter {
    background-color: $primary;
    color: $secondary;
  }
  .details {
    color: $primary;
  }
}

.theme-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.restackZ {
  position: absolute !important;
  z-index: auto !important;
}

#vizzy {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}

.container {
  animation: fade-up 0.5s ease-in;
}

.flip {
  transform: rotate(0deg) !important;
  background-color: $secondary !important;
}

.nav-slide-in {
  opacity: 1 !important;
  right: 0 !important;
}

.expanded {
  &::after {
    transform: translate(-10px, -50%) !important;
    height: 6px !important;
  }
}

// header
header {
  height: 7em;
  border-bottom: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 500;
  .home-link {
    width: fit-content;
    &:hover {
      cursor: url("../resources/images/Logo.cur"), auto;
    }
  }
  &.theme-bg-dark {
    border-bottom: 2px solid currentColor;
  }
  .nav-heading {
    font-family: $heading-font;
    font-size: 1.85em;
    margin-left: 1em;
    font-weight: 700;
    z-index: 500;
  }
  .burger-wrap {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 1em 1em 0 0;
    z-index: 500;
    .burger {
      position: relative;
      height: 100%;
      width: 80%;
      &::before,
      &::after {
        position: absolute;
        display: block;
        content: "";
        height: 2px;
        width: 100%;
        background-color: currentColor;
      }
      &::before {
        top: 1em;
      }
      &::after {
        bottom: 1em;
      }
    }
    &::after {
      position: absolute;
      display: block;
      content: "";
      height: 2px;
      width: 80%;
      top: 50%;
      transform: translateY(-50%);
      background-color: currentColor;
      transition: transform 0.5s ease, height 0.5s ease;
    }
  }
}
.theme-toggle {
  width: 50px;
  height: 50px;
  display: absolute;
  position: absolute;
  right: 1.5em;
  top: 8em;
  transform: rotate(180deg);
  transition: transform 0.5s ease, background-color 0.25s ease;
  z-index: 500;
  border-radius: 50%;
  background-color: $primary;
}
.global-nav,
.drawer {
  position: fixed;
  top: 0;
  right: -100vw;
  height: 100vh;
  width: 100vw;
  transition: right 1s ease, opacity 1s ease, background-color 0.5s ease;
  opacity: 0;
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .nav-list-item {
      display: block;
      text-align: center;
      font-size: 2em;
      background: $secondary;
      color: $primary;
    }
    .nav-link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6em;
      height: 3em;
      transition: 0.125s ease;
      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s ease;
        border: 2px solid currentColor;
      }
      @media (hover: hover) {
        &:hover {
          &::before {
            right: 0.5em;
            bottom: 0.5em;
          }
        }
      }
    }
    .nav-link.first {
      &:hover {
        cursor: url(../resources/images/OrangeCur.png), auto;
        color: $curColrOne;
      }
    }
    .nav-link.second {
      &:hover {
        cursor: url(../resources/images/LimeCur.png), auto !important;
        color: $curColrTwo;
      }
    }
    .nav-link.third {
      &:hover {
        cursor: url(../resources/images/PurpleCur.png), auto !important;
        color: $curColrThree;
      }
    }
  }
}
.global-nav {
  z-index: 401;
}
.drawer {
  background-color: $primary;
  z-index: 300;
}

// main
main {
  .greeting {
    font-weight: 700;
    font-size: 1.75em;
    margin-left: 0.25em;
    margin-top: 135px;
    font-weight: 700;
    @include md {
      font-size: 2em;
    }
    > .greeting {
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      pointer-events: none;
    }
    > .greeting {
      @include typed(
        "Developer.",
        "Designer.",
        "Creative.",
        "Problem Solver.",
        1,
        (
          caret-width: 2px,
          caret-space: 2px,
        )
      );
    }
  }

  .cta-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4em 1em 0;
    .button {
      position: relative;
      display: block;
      width: fit-content;
      height: fit-content;
      padding: 1em 2.2em;
      text-align: center;
      font-size: 1.5em;
      font-weight: 500;
      margin-bottom: 2em;
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        transition: 0.5s ease;
      }
      @media (hover: hover) {
        &:hover {
          &::before {
            right: 0.5em;
            bottom: 0.5em;
          }
          &.first {
            cursor: url(../resources/images/OrangeCur.png), auto;
            color: $curColrOne;
            &::before {
              border: 2px solid $curColrOne;
            }
          }
          &.second {
            cursor: url(../resources/images/PurpleCur.png), auto;
            color: $curColrThree;
            &::before {
              border: 2px solid $curColrThree;
            }
          }
        }
      }
      @include sm {
        font-size: 1.75em;
      }
      @include md {
        font-size: 2.2em;
      }
      @include lg {
        font-size: 2.7em;
      }
    }
    @include xs {
      flex-direction: column;
    }
    @include sm {
      margin: 12em 6em 0;
    }
    @include md {
      margin: 8em 8em 0;
    }
    @include fhd {
      .button {
        width: 30vw;
      }
    }
  }
}

// bg logo
.bg-image-wrap {
  position: absolute;
  width: 120vw;
  max-width: 500px;
  bottom: 3em;
  right: -12em;
  z-index: -1;
  svg {
    width: 100%;
    rotate: -30deg;
  }
  @include sm {
    max-width: 70vw;
    min-width: 500px;
  }
  @include lg {
    max-width: 700px;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/////////////////////////////////////////
// portfolio

.filter {
  padding-inline: 2rem;
  border-radius: 2rem;
  padding-bottom: 0.25rem;
}

.open-up {
  img {
    transform: translateX(100%);
  }
}

.porfolio-items-list {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  width: 100vw;
  justify-content: space-evenly;
  font-size: 2em;
  margin-top: 4em;
  height: 12em;
  @include lg {
    flex-direction: row;
    width: 65vw;
    margin-top: 8em;
    margin-inline: auto;
    height: 2em;
  }
}

// grid stuff
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid {
  width: 80vw;
  margin: 5em auto;
}

.grid-item {
  transition: all 0.5s ease !important;
  overflow: hidden;
  .details {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    padding-left: 1em;
    flex-direction: column;
    justify-content: space-evenly;
    h2 {
      font-size: 2em;
      font-weight: 500;
    }
    p {
      font-size: 1.5em;
    }
    .port-link {
      display: block;
      font-size: 1.5em;
      font-weight: 600;
      padding: 0.5em;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      border-radius: 2rem;
    }
  }
}

@include xxs {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
  .grid-item {
    float: left;
    width: 100%;
  }
}
@include md {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  .grid-item {
    float: left;
    width: 50%;
  }
}
@include lg {
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  .grid-item {
    float: left;
    width: 33.333%;
  }
}

.grid-item img {
  display: block;
  filter: grayscale(100%);
  transition: 0.5s ease;
}
.grid-item:hover img {
  filter: grayscale(0);
}

/////////////////////////////////
/// CONTACT
/// //////////////////////////

.contact-wrapper {
  width: 100vw;
  padding-top: 10em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .close-btn {
    width: 50px;
    position: absolute;
    bottom: 106px;
    right: 50px;
  }
  .contact-heading {
    font-size: 3em;
    font-weight: 500;
    @include md {
      align-self: flex-start;
      margin-left: 3em;
    }
  }
  form {
    width: 80%;
    height: 80%;
  }

  .contact-details-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    @include lg {
      flex-direction: row;
    }
  }

  .input-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
  }

  .contact-label {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: 500;
  }

  .form-input,
  textarea {
    font-size: 2em;
    line-height: 1.5;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding: 0.25em;
  }

  .form-input:valid,
  textarea:valid {
    outline: 1px solid lime;
  }

  .submit {
    display: block;
    background-color: $secondary;
    color: $primary;
    padding: 0.5em 1em;
    font-size: 2em;
    line-height: 1.5;
    margin: 1em auto;
    &:hover {
      cursor: url(../resources/images/LimeCur.png), auto !important;
      outline: 1px solid lime;
    }
  }
}

////////////////////////
/// about
///
.about-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  .about-me-wrap {
    margin: auto;
    padding: 10em 2em 2em;
    h1 {
      font-size: 4em;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 2em;
      margin-right: 2em;
      @include md {
        margin-left: 2em;
      }
    }
  }
}

////////////////////////
/// footer
///

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  @include sm {
    flex-direction: row;
    translate: 40px;
    bottom: 10px;
  }
  @include md {
    width: 30vw;
    justify-content: space-around;
  }
}

.footer-link {
  display: block;
  width: 50px;
  margin: 1em;
  @include sm {
    rotate: none !important;
  }
}

.contact-footer-links {
  display: flex;
  width: 100vw;
  margin: 0 auto;
  max-width: 1000px;
  justify-content: space-around;
}

.about-footer-links {
  position: relative;
  translate: none;
  rotate: none;
  bottom: 0 !important;
  flex-direction: column;
  .footer-link {
    rotate: none;
  }
  @include md {
    flex-direction: row;
  }
}

.success {
  color: red;
}
